body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
}
#chart-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#chart-container1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.button:active {
box-shadow: 0 5px #666;
}

.waterAndWallContainer, .onlyWaterContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 45vh;
}
